<div class='container'>
  <div class='button-container'>
    <app-button backgroundColor = 'green' textColor = 'black' [disabled] = 'addDisable' (click)='add()' text = 'Add'>  </app-button>
    <app-button backgroundColor = 'red' textColor = 'black' [disabled] = '!deleteDisable' (click)='delete()' text = 'Delete'>  </app-button>
    <app-button backgroundColor = 'blue' textColor = 'black' [disabled] = '!resetDisable' (click)='reset()' text = 'Reset'>  </app-button>
  </div>
  
  <div class='card-container'>
    <app-cards *ngFor = 'let card of cards | slice :0:count ' [name] = 'card.name' [bank] = 'card.bank' class='cards'></app-cards> 
  </div>
</div>